In [1]:
import pandas as pd
import os

In [2]:
liczby = [4,5,6,7,8,9,10,11,12,13] * 1092

In [3]:
len(liczby)

10920

In [4]:
nazwy_nj = os.listdir()

In [5]:
nazwy = nazwy_nj * 60

In [6]:
len(nazwy)

10920

In [7]:
N = 10920

# 1. List of dictionaries to frame

In [8]:
%%timeit
dict_list = []
for i in range(N):
    dict_list.append({'liczba': liczby[i], 'nazwa': nazwy[i]})
frame = pd.DataFrame(dict_list)

12.5 ms ± 689 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# 2. Dictionary with lists to frame

In [9]:
%%timeit
dictionary ={"liczba": [], "nazwa": []}
for i in range(N):
    dictionary['liczba'].append(liczby[i])
    dictionary['nazwa'].append(nazwy[i])
dict_frame = pd.DataFrame(dictionary)

6.75 ms ± 240 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# 3. List  of tuples

In [10]:
%%timeit
tuples_list = []
for i in range(N):
    tuples_list.append((liczby[i], nazwy[i]))
tuple_frame = pd.DataFrame(tuples_list, columns=['liczba', "nazwa"])

6.34 ms ± 242 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# 4. List of lists

In [11]:
%%timeit
lists_list = []
for i in range(N):
    lists_list.append([liczby[i], nazwy[i]])
list_frame = pd.DataFrame(lists_list, columns=['liczba', "nazwa"])

6.38 ms ± 146 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# 5. Append to df

In [12]:
%%timeit
df = pd.DataFrame(columns=['liczba', "nazwa"])
for i in range(N):
    row = {"liczba": liczby[i], "nazwa": nazwy[i]}
    df = df.append(row, ignore_index=True)

32.4 s ± 293 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

# Veryfing if gives all the same results

In [13]:
tuples_list = []
for i in range(N):
    tuples_list.append((liczby[i], nazwy[i]))
tuple_frame = pd.DataFrame(tuples_list, columns=['liczba', "nazwa"])

In [14]:
tuple_frame

       liczba                                              nazwa
0           4                                             .ipynb
1           5                                 .ipynb_checkpoints
2           6  1_data_exploration_and_model_selection-Copy_co...
3           7                             2019-08-12_1 (1).ipynb
4           8                                 2019-08-12_1.ipynb
...       ...                                                ...
10915       9         wsei_testy_doc_class_test_ONE_VS_ALL.ipynb
10916      10                                          wynik.csv
10917      11                                      xml_to_csv.py
10918      12                      zgloszenia_similarities.ipynb
10919      13                                        __pycache__

[10920 rows x 2 columns]

In [15]:
dictionary ={"liczba": [], "nazwa": []}
for i in range(N):
    dictionary['liczba'].append(liczby[i])
    dictionary['nazwa'].append(nazwy[i])
dict_frame = pd.DataFrame(dictionary)

In [16]:
dict_frame

       liczba                                              nazwa
0           4                                             .ipynb
1           5                                 .ipynb_checkpoints
2           6  1_data_exploration_and_model_selection-Copy_co...
3           7                             2019-08-12_1 (1).ipynb
4           8                                 2019-08-12_1.ipynb
...       ...                                                ...
10915       9         wsei_testy_doc_class_test_ONE_VS_ALL.ipynb
10916      10                                          wynik.csv
10917      11                                      xml_to_csv.py
10918      12                      zgloszenia_similarities.ipynb
10919      13                                        __pycache__

[10920 rows x 2 columns]

In [17]:
dict_list = []
for i in range(N):
    dict_list.append({'liczba': liczby[i], 'nazwa': nazwy[i]})
frame = pd.DataFrame(dict_list)

In [18]:
frame

       liczba                                              nazwa
0           4                                             .ipynb
1           5                                 .ipynb_checkpoints
2           6  1_data_exploration_and_model_selection-Copy_co...
3           7                             2019-08-12_1 (1).ipynb
4           8                                 2019-08-12_1.ipynb
...       ...                                                ...
10915       9         wsei_testy_doc_class_test_ONE_VS_ALL.ipynb
10916      10                                          wynik.csv
10917      11                                      xml_to_csv.py
10918      12                      zgloszenia_similarities.ipynb
10919      13                                        __pycache__

[10920 rows x 2 columns]

In [19]:
lists_list = []
for i in range(N):
    lists_list.append([liczby[i], nazwy[i]])
list_frame = pd.DataFrame(lists_list, columns=['liczba', "nazwa"])

In [20]:
list_frame

       liczba                                              nazwa
0           4                                             .ipynb
1           5                                 .ipynb_checkpoints
2           6  1_data_exploration_and_model_selection-Copy_co...
3           7                             2019-08-12_1 (1).ipynb
4           8                                 2019-08-12_1.ipynb
...       ...                                                ...
10915       9         wsei_testy_doc_class_test_ONE_VS_ALL.ipynb
10916      10                                          wynik.csv
10917      11                                      xml_to_csv.py
10918      12                      zgloszenia_similarities.ipynb
10919      13                                        __pycache__

[10920 rows x 2 columns]

In [21]:
df = pd.DataFrame(columns=['liczba', "nazwa"])
for i in range(N):
    row = {"liczba": liczby[i], "nazwa": nazwy[i]}
    df = df.append(row, ignore_index=True)

In [22]:
df

      liczba                                              nazwa
0          4                                             .ipynb
1          5                                 .ipynb_checkpoints
2          6  1_data_exploration_and_model_selection-Copy_co...
3          7                             2019-08-12_1 (1).ipynb
4          8                                 2019-08-12_1.ipynb
...      ...                                                ...
10915      9         wsei_testy_doc_class_test_ONE_VS_ALL.ipynb
10916     10                                          wynik.csv
10917     11                                      xml_to_csv.py
10918     12                      zgloszenia_similarities.ipynb
10919     13                                        __pycache__

[10920 rows x 2 columns]

In [23]:
ll = [df[0:2], df[4:6], df[10:12]]

In [24]:
ll

[  liczba               nazwa
 0      4              .ipynb
 1      5  .ipynb_checkpoints,
   liczba                      nazwa
 4      8         2019-08-12_1.ipynb
 5      9  2019-08-13-ensemble.ipynb,
    liczba                                              nazwa
 10      4  3_types_doc_class_test_2_model_training_and_ev...
 11      5          4_types_doc_class_test_4_data_types.ipynb]

In [25]:
pd.concat(ll)

   liczba                                              nazwa
0       4                                             .ipynb
1       5                                 .ipynb_checkpoints
4       8                                 2019-08-12_1.ipynb
5       9                          2019-08-13-ensemble.ipynb
10      4  3_types_doc_class_test_2_model_training_and_ev...
11      5          4_types_doc_class_test_4_data_types.ipynb

In [26]:
"23,00"[-3:]

',00'

In [27]:
"00"=="0"

False

In [28]:
ss = "abcd"

In [29]:
ss

'abcd'

In [30]:
ss.replace("d", "XX")

'abcXX'

In [31]:
ss

'abcd'

In [32]:
ss[:2]

'ab'

In [33]:
ss.find("c")

2

In [34]:
from enum import Enum

In [35]:
class Data(Enum):
    papa = 1
    dada = 2

In [47]:
print(Data.papa.value)

1

In [53]:
for item in Data:
    print(item.name)

papa
dada

In [63]:
type(Data.papa)

In [64]:
""==''

True

In [65]:
df

      liczba                                              nazwa
0          4                                             .ipynb
1          5                                 .ipynb_checkpoints
2          6  1_data_exploration_and_model_selection-Copy_co...
3          7                             2019-08-12_1 (1).ipynb
4          8                                 2019-08-12_1.ipynb
...      ...                                                ...
10915      9         wsei_testy_doc_class_test_ONE_VS_ALL.ipynb
10916     10                                          wynik.csv
10917     11                                      xml_to_csv.py
10918     12                      zgloszenia_similarities.ipynb
10919     13                                        __pycache__

[10920 rows x 2 columns]

In [71]:
df.head(2)['dada'] = df.head(2)["liczba"].apply(lambda row: row +100)

C:\Users\ksiwecki\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [156]:
df['druga'] = df['liczba'] + 1000

In [151]:
aaa = df.head(20)

In [158]:
aaa['dada'] = aaa.liczba.apply(lambda row: row + 1000)

C:\Users\ksiwecki\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [159]:
aaa

   liczba                                              nazwa  dada
0       4                                             .ipynb  1004
1       5                                 .ipynb_checkpoints  1005
2       6  1_data_exploration_and_model_selection-Copy_co...  1006
3       7                             2019-08-12_1 (1).ipynb  1007
4       8                                 2019-08-12_1.ipynb  1008
5       9                          2019-08-13-ensemble.ipynb  1009
6      10                2019-08-13-strojenie ensemble.ipynb  1010
7      11                                   2019-08-13.ipynb  1011
8      12                          2019-08-14-regresja.ipynb  1012
9      13  3_types_doc_class_test_1_data_exploration_and_...  1013
10      4  3_types_doc_class_test_2_model_training_and_ev...  1004
11      5          4_types_doc_class_test_4_data_types.ipynb  1005
12      6  4_types_doc_class_test_faktury_vs_niefaktury.i...  1006
13      7   4_types_doc_class_test_faktury_vs_proformy.ipynb  1007
14      8        4_types_doc_class_test_FplusP_CV_ZARZ.ipynb  1008
15      9  4_types_doc_class_test_Grid_search_tfidf_LRmod...  1009
16     10            4_types_doc_class_test_ONE_VS_ALL.ipynb  1010
17     11            4_types_doc_class_test_TWO_VS_ALL.ipynb  1011
18     12                        anomalyDetectionClass.ipynb  1012
19     13              anomaly_detection_data_analysis.ipynb  1013

In [160]:
del aaa

In [161]:
aaa

NameError: name 'aaa' is not defined